<h1>Tweather report</h1>
<p class="description">
  If there is one thing Brits are known for worldwide, it's that they love to 
  moan about the weather. But is this a fair stereotype?
</p>
<p class="description">
	Using the power of the internet, Tweather report sets out to prove/disprove 
	this using a not very scientific method. I always thought there must be some 
	interesting ways to look at the data available from Twitter, so here's my 
	first crack at it.
</p>
<p class="description">
	Tweather report tracks tweets from the Limeys and the rest, displays them on 
	a map, and shows the percentage of negative-weather-based-tweets.
</p>