<script>
  // splash
  $('#hide').click(function () {
    function showFooter() {
      $('#footer').fadeIn(1000);
      $('.counts').fadeIn(1000);
    }
    
    $('#splash').fadeOut(1000, showFooter);
  });
</script>

<h1>Tweather report</h1>
<a href="#" id="hide">HIDE</a>
<p class="description">
  If there is one thing Brits are known for worldwide, it's that they love to 
  moan about the weather. But is this a fair stereotype?
</p>
<p class="description">
  Using the power of the internet, Tweather report sets out to prove/disprove 
  this with a not very scientific method: Count tweets from the limeys and 
  the rest, plot any which mention the weather on the map, and check the 
  sentiment of these tweets.
</p>
<p class="description">
  The percentage of tweets-moaning-about-the-weather is then tracked. Do Brits 
  in fact moan about the weather more than the rest of the world?
</p>
<p class="description">
  Created by <a href="http://www.twitter.com/fsteddiie">Ed Ellson</a>. You 
  can read more about how Tweather report was created and view the source 
  <a href="http://www.github.com/eellson/tweather-report">on Github</a>.
</p>