<p class="description">
	Everyone knows the stereotype: Brits love to talk about the weather.
</p>
<p class="description">
	Using the power of the internet, I am setting out to prove/disprove this 
	using a not entirely scientific method. I always thought there must be some 
	interesting ways to look at the data available from Twitter, so here's my 
	first crack at it.
</p>
<p class="description">
	Tweather report tracks tweets from the Limeys and the rest, displays them on 
	a map, and shows the tally. Awesome.
</p>