<p class="description">
	Everyone knows the stereotype: Brits love to talk about the weather.
	
	Using the power of the internet, I am setting out to prove/disprove this using a not entirely scientific method.
	
	Tweather report tracks tweets from the UK and the rest of the world, diplays them on a map, and shows the result.
</p>