html {
	height: 100%;
}
body {
	background: black;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
}
div#fixed {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}
div#map_canvas {
	top: 0;
	height: 100%;
	width: 100%;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
div#map_canvas li {
	padding: 0 0 0 0;
}
div#map_canvas p.text {
	float: left;
	display: inline;
	width: 25em;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: none;
}
div#map_canvas div.details {
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: none;
	position: absolute;
	right: 0;
}
div#content {
	height: 10%;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.81);
}
div#content div.site-description {
	width: 26em;
	bottom: 0;
	position: absolute;
	overflow: hidden;
	height: 100%;
	margin: 0 0 0 1em;
	-webkit-transition-property: height;
  -webkit-transition-duration: 2s;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.81);
	padding: 1em 0 0 0;
	font-family: 'Helvetica Neue', sans-serif;
}
div#content div.site-description:hover {
	height: 483%;
}
div#content div.site-description p.description {
	margin: 1.2em 1.5em 0 2em;
}
h1 {
	font-family: 'Sanchez', serif;
	font-size: 3em;
	font-weight: 400;
	margin: 0 0 0.1em 0.3em;
	font-style: italic;
	text-shadow: -2px -1px 8px #5648BE;
}
ul, p {
	margin: 0;
}
ul.counts {
	list-style: none;
	height: 100%;
	width: 19em;
	overflow: hidden;
	bottom: 0;
	right: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.81);
	-webkit-transition-property: height;
  -webkit-transition-duration: 2s;
	border-radius: 3px;
	padding: 1em 0 0 0.5em;
	margin: 0em 0.5em 0em 0;
}
ul.counts:hover {
	height: 420%;
}
li.count {
	float: left;
	width: 20em;
	list-style: none;
	padding: 0 0 0 0;
	font-family: 'Sanchez', serif;
	margin: 0 0 0.5em 0;
}
li.count p {
	display: inline-block;
	margin: 0 1em 0 1em;
	padding: 1em 0em 1em 4em;
	height: 1em;
	width: 3em;
}
li.count p.uk {
	background-image: url('/images/United-Kingdom.png');
	background-repeat: no-repeat;
}
li.count p.row {
	background-image: url('/images/Lime.png');
	background-repeat: no-repeat;
}
li.count p.ratio {
	font-weight: 600;
}
li.count p.label {
	font-size: 0.8em;
	padding: 0.5em 0em 0em 0.5em;
	width: 21em;
}
ul.tweets {
	padding: 0 2em 0 0;
	margin: 0 0 0 26em;
	height: 100%;
	width: 40em;
	overflow: auto;
	display: inline-block;
	list-style: none;
}
li.tweet {
	float: right;
	height: 100%;
	width: 35em;
	padding: 1em 0 0 0;
	list-style: none;
}
img.avatar {
	float: left;
	/* Pixel measurement below so the image lines up with text */
	margin: 4px 1em 0 0; 
	vertical-align: middle;
}
div#content p.text {
	float: left;
	display: inline;
	width: 25em;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: none;
	font-weight: 500;
}
div.details {
	width: 7em;
  float: right;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: none;
  font-size: 0.7em;
	font-weight: 500;

}
