html {
	height: 100%;
}
body {
	background: black;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
}
div#fixed {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}
div#map_canvas {
	top: 0;
	height: 100%;
	width: 100%;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
div#map_canvas li {
	padding: 0 0 0 0;
}
div#map_canvas p.text {
	float: left;
	display: inline;
	width: 25em;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
}
div#map_canvas div.details {
	text-shadow: none;
	position: absolute;
	right: 0;
}
div#content {
	height: 10%;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.81);
}
div#content div.site-description {
	width: 27em;
	position: absolute;
	overflow: hidden;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 0 1em;
	-webkit-transition-property: height;
  -webkit-transition-duration: 2s;
	border-radius: 3px;
}
div#content div.site-description:hover {
	height: 445%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.81);
}
div#content div.site-description p.description {
	margin: 1em 2em 2em 2em;
}
h1 {
	font-family: 'Sanchez', serif;
	font-size: 3em;
	margin: 0.2em 0em 0.1em 0.3em;
	font-style: italic;
	text-shadow: -2px -1px 8px #5648BE;
}
ul, p {
	margin: 0;
}
ul.counts {
	height: 100%;
	width: 17em;
	float:right;
	overflow: auto;
}
li.count {
	float: left;
	height: 100%;
	width: 40em;
	list-style: none;
  padding: 1em 0 0 0;
	font-family: 'Sanchez', serif;

}
li.count img.flag {
	vertical-align: middle;
}
li.count p {
	display: inline-block;
	margin: 0 2em 0 1em;
}
ul.tweets {
	padding: 0 2em 0 0;
	height: 100%;
	width: 40em;
	float: right;
	overflow: auto;
	right:0;
	display: inline-block;
	list-style: none;
}
li.tweet {
	float: right;
	height: 100%;
	width: 35em;
	padding: 1em 0 0 0;
	list-style: none;
}
img.avatar {
	float: left;
	margin: 0 1em 0 0;
	vertical-align: middle;
}
div#content p.text {
	float: left;
	display: inline;
	width: 25em;
	font-family: 'Open Sans', sans-serif;
	text-shadow: -2px -1px 8px #5648BE;
}
div.details {
	width: 7em;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
	text-shadow: -2px -1px 8px #5648BE;
}
